@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
		url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaMedium/HelveticaMedium.eot");
    src: url("../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"),
		url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: Helvetica, sans-serif;
	color: #000000;
    font-weight: 500;
}

html {
	font-size: 100%;
}




.clearfix {
    content: '';
    line-height: 0;
    clear: both;
    font-size: 0;
}

.main {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
}


.form1,
.form2,
.footer {
	background-color: #cddc39;
}

.footer-white {
	background-color: #ffffff;
}


/* Хэдэр */
.header {
    width: 100%;
    height: 8.25rem;
    padding: 1.875rem 9.5rem 0 7.875rem;
    box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;
}

.header div {
    position: relative;
    float: left;
}

.header h1 {
    font-size: 2.25rem;
    font-weight: 500;
}

.header h3 {
    color: #ff5722;
    font-size: 1.5rem;
    font-weight: 500;
}

.header a {
    display: block;
    position: relative;
    float: right;
    color: #ff5722;
    font-size: 1.5rem;
    font-weight: 500;
}



/* Первая форма заказа */
.form1 {
    width: 100%;
    padding: 5.625rem 8.375rem 6.4375rem 8.6875rem;
    box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;
}

.form1-text {
    position: relative;
    float: left;
    margin-top: 2.5rem;
}

.form1-text h2 {
    font-size: 2.25rem;
    color: #212121;
}

.form1-text p {
    font-size: 1.625rem;
    margin-top: 1.875rem;
}

.form1-text p+p {
    margin-top: 0.8125rem;
}

.form1-text p a {
    color: #ff5722;
}

.form1-text p:last-of-type {
    margin-bottom: 1.25rem;
}

.form1-text p+a {
    color: #ff5722;
    font-size: 2.25rem;
}

.form1-form {
    position: relative;
    float: right;
    width: 29.5625rem;
    background-color: #f0f4c3;
    box-shadow: 0 0.5625rem 0.8125rem 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 0.5625rem 0.8125rem 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 0.5625rem 0.8125rem 0 rgba(0, 0, 0, 0.19);
    padding: 3.75rem 2.125rem 3.75rem 0;
    box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;
    text-align: right;
}

.form1-form h2 {
	font-size: 1.875rem;
	color: #212121;
	margin-bottom: 1.875rem;
}

.form1-form input[type=text],
.form1-form input[type=email] {
	height: 3.75rem;
	width: 16.875rem;
	line-height: 3.75rem;
	font-size: 1.125rem;
	border: 2px solid #a8b347;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding-left: 1rem;
	box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;  
}

input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder {
    color: #9b9b9b;
}
 
input[type=text]::-moz-placeholder,
input[type=email]::-moz-placeholder {
	color: #9b9b9b;
}

.form1-form #email1 {
	margin: 1.875rem 0; 
}

.form1-form label {
	margin-right: 0.625rem;
	font-size: 1.125rem;
	color: #212121;
}

.form1-form input[type=submit] {
	height: 5rem;
	width: 23.125rem;
	line-height: 5rem;
	font-size: 1.875rem;
	color: #ffffff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #ff5722;
	border: none;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16),
				0 3px 6px 0 rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16),
				0 3px 6px 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16),
				0 3px 6px 0 rgba(0, 0, 0, 0.23);
}



/* Блок "Для чего" */
.what-for {
	padding: 3.125rem 0 2.8125rem 0;
	text-align: center;
	box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;
}

.what-for h2 {
	font-size: 2.25rem;
	color: #122616;
	margin-bottom: 2.5rem;
}

.what-for-block {
	display: inline-block;
	width: 23.25rem;
	vertical-align: top;
}

.what-for-block img {
    width: 13.5rem;
    height: auto;
}

.what-for-block+.what-for-block {
	margin-left: 2.125rem;
}

.what-for-block h3 {
	font-size: 1.875rem;
	color: #212121;
	margin-top: 1rem;
}

.what-for-block p {
	font-size: 1.5rem;
	color: #212121;
	margin-top: 0.625rem;
}



/* Вторая форма заказа (и третья, т.к. у нее отличается только валидация)*/
.form2 {
	box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;
	padding: 2.5rem 0 2.875rem;
	text-align: center;
}

.form2 h2 {
	font-size: 2.25rem;
	color: #212121;
	margin-bottom: 1.25rem;
}

.form2 label {
	font-size: 1.5rem;
	color: #212121;
}

.form2 label:first-of-type {
	margin-left: -2rem;
}

.form2 label+label {
	margin-left: 22.3125rem;
}

.form2 input[type=text],
.form2 input[type=email] {
	height: 3.75rem;
	width: 29.375rem;
	line-height: 3.75rem;
	font-size: 1.4875rem;
	border: 2px solid #a8b347;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: center;
	box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;
	margin-top: 0.75rem;
}

.form2 #email2,
.form2 #passport {
	margin-left: 1.875rem;
}

.form2 input[type=submit] {
	margin-top: 1.375rem;
	height: 5.625rem;
	width: 35.625rem;
	line-height: 5.625rem;
	font-size: 1.875rem;
	color: #ffffff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #f66340;
	border: none;
	box-shadow: 0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.16),
				0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.16),
				0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.16),
				0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.23);
}



/* Блок "партнеры" */
.partners {
	text-align: center;
	box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;
	padding: 3.125rem 0 3.25rem;
}

.partners h2 {
	font-size: 2.25rem;
	color: #122616;
	margin-bottom: 2rem;
}

.partners-images {
	height: 5rem;
	line-height: 5rem;
}

.partners img {
	display: inline-block;
	vertical-align: middle;
    width: 10rem;
    height: auto;
}

.partners img:last-child,
.partners img:nth-child(6) {
    width: 8.34375rem;
    height: auto;
}

.partners img+img {
	margin-left: 1.0625rem;
}



/* Блок "отзывы" */
.reviews {
	text-align: center;
	box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;
    padding: 0 0 3.125rem;
}

.reviews h2 {
	font-size: 2.25rem;
	color: #122616;
	margin-bottom: 2.5rem;
}

.review {
	display: inline-block;
	vertical-align: top;
	width: 16.875rem;
}

.review img {
    width: 10.875rem;
    height: auto;
}

.review+.review {
	margin-left: 1.875rem;
}

.review p {
	font-size: 1.125rem;
	color: #122616;
	font-weight: normal;
	margin-top: 0.625rem;
}



/* Блок "доп.услуги" */
.extras {
	padding: 3.125rem 0 3.4375rem;
	text-align: center;
}

.extras h2 {
	font-size: 2.25rem;
	color: #122616;
	margin-bottom: 1.875rem;
}

.extra {
	display: inline-block;
	vertical-align: top;
	width: 23.125rem;
	text-align: center;
}

.extra img {
    width: 13.5625rem;
    height: auto;
}

.extra+.extra {
	margin-left: 1.875rem;
}

.extra p:first-of-type {
	font-size: 1.875rem;
	color: #212121;
	margin: 0.9375rem 0 0.625rem;
}

.extra p:last-of-type {
	font-size: 1.5rem;
	color: #212121;
}

.extra a {
	display: block;
    margin-top: 1.3125rem;
	height: 5.625rem;
	width: 23.125rem;
	line-height: 5.625rem;
	font-size: 1.875rem;
	color: #ffffff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #f66340;
	border: none;
	box-shadow: 0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.16),
				0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.16),
				0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.16),
				0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.23);
}



/* Футер */
.footer {
	padding: 2.75rem 0 14.375rem 8.6875rem;
	box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;
}

.footer-block {
	position: relative;
	float: left;
	font-size: 1.25rem;
}

.footer .block1 {
	width: 23.125rem;
}

.footer .block2 {
	width: 16.5625rem;
	margin-left: 2.0625rem;
}

.footer .block3 {
	width: 24.25rem;
	margin-left: 8.3125rem;
	margin-top: 0.5rem;
}

.footer-block p {
	margin-top: 0.875rem;
}

.footer .block3 p {
	color: #727272;
}

.footer .block3 a {
	margin-top: 1.25rem;
}



/* Блок текста */
.text {
	padding-top: 3.125rem;
	text-align: center;
	padding-bottom: 3.75rem;
}

.text h2 {
	font-size: 2.25rem;
	color: #122616;
	margin-bottom: 1.875rem;
}

.text .text-content {
	width: 74.0625rem;
	padding-left: 8.6875rem;
	font-size: 1.625rem;
	text-align: left;
	line-height: 1.7;
}

.text .text-content p+p {
	margin-top: 2.5rem;
}



/* Таблица заказов */

.orders {
	padding: 0 0 0 14.875rem;
}

.orders-table {
	display: table;
}

.row {
	display: table-row;
	line-height: 2;
}

.row.head p {
	color: #122616;
}

.row p,
.row a {
	display: table-cell !important;
	display: inline;
    font-size: 1.625rem;
}

.row.head p {
	font-size: 2.25rem;
}

.row p+p,
.row p+a {
	padding-left: 3.125rem;
}

.orders > p {
	margin: 2.1875rem 0 5rem;
	font-size: 1.625rem;
}


/* Блок "Способы оплаты" */
.payment-methods {
	text-align: center;
	box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;
	padding: 20px 0 3.875rem;
}

.payment-methods h2 {
	font-size: 2.25rem;
	color: #122616;
	margin-bottom: 1.875rem;
}

.payment-methods-images {
	height: 5rem;
	line-height: 5rem;
}

.payment-methods img {
	display: inline-block;
	vertical-align: middle;
    height: 5rem;
    width: auto;
}

.payment-methods img+img {
	margin-left: 2.5625rem;
}


/* Popup */
.popup {
	display: none;
    position: absolute;
    width: 100%;
    max-width: 1440px;
	height: 100%;
	margin: 8.25rem auto 0;
	top: 0;
	left: 0;
	background-color: rgba(256, 256, 256, 0.82);
	z-index: 999;
}

.popup-window {
	margin: 0 0 0 19rem;
    width: 51.875rem;
    height: 53.6875rem;
}

.popup-form-window {
    height: 41.5rem;
    background-color: #cddc39;
    box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;
    text-align: center;
    padding-top: 1.875rem;
}

.popup-form-window h2 {
    font-size: 1.875rem;
    color: #212121;
    margin-bottom: 1.25rem;
}

.popup-form-window p {
    font-size: 1.125rem;
    color: #122616;
    margin-bottom: 1.25rem;
}

.popup-form {
    width: 35.625rem;
    height: 26.25rem;
    margin: 0 auto 1.25rem;
    background-color: #f0f4c3;
    text-align: right;
    padding: 3.125rem 6.0625rem 0 0;
    box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;
}

.popup-form input[type=text],
.popup-form input[type=email] {
	height: 3.75rem;
	width: 16.875rem;
	line-height: 3.75rem;
	font-size: 1.125rem;
	border: 2px solid #a8b347;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding-left: 1rem;
	box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;
}

.popup-form #popup-email,
.popup-form #popup-name {
	margin: 1.875rem 0 0; 
}

.popup-form label {
	margin-right: 0.625rem;
	font-size: 1.125rem;
	color: #212121;
    width: 8.5625rem;
}

.popup-form div:first-child {
    float: left;
    margin: 0.4375rem 0 0 3.75rem;
}

#popup-passport {
    float: right;
}

.popup-form label[for=passport] {
	display: block;
    position: relative;
    float: left;
    margin-left: 3.1875rem;
}

.popup-form input[type=submit] {
	margin-top: 1.25rem;
    height: 5rem;
	width: 23.125rem;
	line-height: 5rem;
	font-size: 1.875rem;
	color: #ffffff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    background: url("../images/Rouble-36.png") no-repeat #ff5722;
    background-position: 85% 48%;
	background-size: 2.25rem;
	border: none;
	box-shadow: 0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.16),
				0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.16),
				0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.16),
				0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.23);
}

.popup-form i {
    color: #ffffff;
    font-size: 1.875rem;
    position: absolute;
    margin: 2.9375rem 0 0 -4.5rem;
    
}

.popup-payment-methods {
	height: 14.6875rem;
	text-align: center;
	box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;
	padding-top: 1.25rem;
	background-color: #ffffff;
}

.popup-payment-methods h2 {
	font-size: 2.25rem;
	color: #122616;
	margin-bottom: 1.875rem;
}

.popup-payment-methods-images {
	height: 3.75rem;
	line-height: 3.75rem;
}

.popup-payment-methods-images img {
    height: 3.75rem;
    width: auto;
}

.popup-payment-methods img {
	display: inline-block;
	vertical-align: middle;
}

.popup-payment-methods img+img {
	margin-left: 0.9375rem;
}



/* Эффекты */
input[type=submit]:hover,
.extra a.order:hover {
	box-shadow: 0 0.875rem 1.75rem 0 rgba(0, 0, 0, 0.25),
				0 0.625rem 0.625rem 0 rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0 0.875rem 1.75rem 0 rgba(0, 0, 0, 0.25),
				0 0.625rem 0.625rem 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 0.875rem 1.75rem 0 rgba(0, 0, 0, 0.25),
				0 0.625rem 0.625rem 0 rgba(0, 0, 0, 0.26);
}

input[type=submit]:active,
.extra a.order:active {
	box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

input#name1:focus,
input#email1:focus {
	box-shadow: 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.15),
				0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.15),
				0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.15),
				0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.2);
	outline: none;
}

input#name2:focus,
input#email2:focus,
input#passport:focus {
	box-shadow: 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.15),
				inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.15),
				inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.15),
				inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
	outline: none;
}

.alert1, .popup-alert {
	opacity: 0;
	position: absolute;
	margin-top: 4.375rem;
	margin-left: -27.1875rem;
	font-weight: normal;
	color: #ff5722;
	font-size: 0.875rem;
}

.alert2 {
	opacity: 0;
	position: absolute;
	margin-top: -0.3125rem;
	margin-left: -19.375rem;
	font-weight: normal;
	color: #ff5722;
	font-size: 0.875rem;
}

.form1 .alert1.error,
.form2 .alert2.error,
.popup-form .popup-alert.error{
	opacity: 1;
}

.popup-show {
    display: block;
}

a.link-orange:link {
	color: #ff5722;
}

a.link-orange:visited {
	color: #b36e59;
}

a.link-orange:hover {
	color: #ff5722;
	text-decoration: underline;
}

.footer p>a:link {
	color: #000000;
}

.footer p>a:visited {
	color: #a0a194;
}

.footer p>a:hover {
	color: #f9fae6;
	text-decoration: underline;
}

.footer-white p>a:hover {
	color: #000000;
	text-decoration: underline;
}



@media screen and (max-width: 1439px) {
	html {
		font-size: 1.1vw;
	}
}